.dashboard {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: #fff;
    color: #333;
  }
  
  .dashboard-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

  .category {
    flex: 1;
    margin: 10px;
  }

  .category-header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
  .example-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .example-button:hover {
    background-color: #0056b3;
  }
  